language: go

go:
  - 1.4.x
  - tip

before_install:
  - go get golang.org/x/tools/cmd/cover
  - go get -t -v ./...

script:
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)